*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    /*
        The line below gives the background a 'tint' so that the text on top is easier to read.
    */
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(assets/capsule.jpeg); 
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
/* Style rules for the navigation bar*/
.nav-bar {
    display: flex;
    padding: 40px 120px;
}
.nav-logo img{
    width: 135px;
}
.nav-links {
    flex: 1;
}
.nav-links ul {
    margin-left: 50px;
    display: inline;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul a{
    color: rgb(233, 4, 4);
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.btn{
    padding: 10px 20px;
    border: 0;
    background: white;
    font-weight: bold;
    cursor: pointer;
}
.nav-links .btn{
    float: right;
}

/*Style rules for the site's banner*/
.banner-title {
    margin: 40px 130px;
    color: #fff
}
.banner-title h1 {
    font-size: 64px;
    margin-bottom: 30px;
}
.banner-title h1 span {
    color: red;
}
/*Style rules for the side-bar*/
.vertical-bar {
    height: 100%;
    background: rgb(0, 0, 0);
    top: 0;
    left: 0;
    position: absolute;
}
.search-icon {
    height: 60%;
    width: 80px;
}
.search-icon .fas {
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.social-icons {
    height: 35%;
    width: 80px;
    background: rgb(255, 255, 255);
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}
.social-icons .fab {
    color: rgb(255, 0, 0);
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}
.nav-bar .fas {
    display: none;
}
/*
    Below is a media query that styles certain aspects of the page based upon the size of the display
    a user is viewing the page with.
*/
@media (max-width: 700px) {
    /* Removes the vertical-bar when the page is 700px wide or less */
    .vertical-bar {
        display: none;
    }
    /* Changes the margins of the banner-title container to better suit a smaller screen */
    .banner-title {
       margin: 80px 40px;
    }
    /*Decreases the size of the banner's text*/
    .banner-title h1 {
        font-size: 50px;
    }
    /*
    I shrunk the padding within the navigation bar to have it fit better
    for further styling.
     */
    .nav-bar {
        padding: 10px 30px;
    }
    /**/
    .fas-bars {
       position: absolute;
       right: 10px;
       top: 10px;
    }
    .nav-bar .fas{
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
     }
     .nav-links {
        height: 100vh;
        width: 200px;
        background: #000 ;
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
     }
     .nav-links ul a {
         display: block;
     }
     .nav-links .btn {
        float: none;
        margin-left: 25px;
        margin-top: 10px;

     }
     .nav-links .btn:hover {
         background-color: red;
         color: white;
     }
        
}